.modal {
  color: #503528;
  font-family: 'Tahoma', sans-serif;
}

.modal .close {
  color: #503528;
  opacity: 1;
  position: absolute;
  top: 50%;
  margin: 0;
  margin-top: -15px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: none;
}

.modal .close:hover {
  color: #ffffff !important;
  opacity: 1 !important;
  background-color: #503528;
}

.modal .modal-dialog {
  width: 1000px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 96%;
}

.modal .modal-content {
  border: none;
  font-size: 21px;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  overflow: hidden;
}

.modal .modal-content .title-1 {
  font-size: 36px;
  margin-bottom: 4px;
}

.modal .modal-content p {
  font-weight: 300;
}

.modal .modal-content .content {
  margin-top: 10px;
  font-weight: 300;
}

.modal .modal-header {
  background-color: #69AE34;
  padding: 4px 10px;
  position: relative;
}

.modal .modal-header .modal-title {
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
}

.modal .modal-footer button {
  padding: 6px 15px;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}

.modal .modal-footer .btn-continue {
  background-color: #69AE34;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal .modal-footer .btn-continue:hover {
  background-color: #503528;
}

.modal .modal-footer .btn-back {
  background-color: transparent;
  color: #503528;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-footer .btn-back:before {
  display: block;
  content: "";
  background: url("../images/previous-01.png") 0/100% no-repeat;
  width: 21px;
  height: 21px;
  margin-right: 8px;
}

.modal.modal-notif .modal-dialog {
  width: 450px;
}

.modal.modal-notif .modal-dialog .modal-content {
  height: 150px;
}

@media only screen and (max-width: 767px) {
  .modal .modal-header .modal-title {
    font-size: 24px;
  }
  .modal .modal-content {
    font-size: 16px;
  }
  .modal .modal-content .title-1 {
    font-size: 20px;
  }
  .modal .modal-footer .btn-continue {
    font-size: 16px;
  }
}

.loading {
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donut {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 0.3rem solid rgba(108, 180, 56, 0.3);
  border-top-color: #6CB438;
  -webkit-animation: 1.5s spin infinite linear;
     -moz-animation: 1.5s spin infinite linear;
       -o-animation: 1.5s spin infinite linear;
          animation: 1.5s spin infinite linear;
}

.donut.multi {
  border-bottom-color: #6CB438;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  to {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  to {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
